body {
  background-color: #002B36;
  background-color: #1c4e63;
  color: #f9f9f9;
  font-size: 18px;
  font-family: monospace;
  margin: 0px;
  padding: 20px;
  padding-right: 60px;
  padding-bottom: 60px;
  /*background-image: url("/static/diagonal-stripes.png");*/
}

textarea:focus, textarea {
  background: transparent;
  font-family: monospace;
  font-size: 18px;
  color: #ffffff;
  border: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: initial;
  border-color: initial;
  outline: none;
  outline-width: initial;
  outline-color: initial;
  padding: 0px;
  margin-left: 35px;

  resize: none;
  width: 100%;
  height: 96%;
  display: inline-block;
}

.dinker {
  color: #9F9F9F;
  font-weight: bold;
  position: absolute;
  left: 25px;
}

.highlighttable{
  font-size: 18px;
  margin: 0px;
}

.linenos{
  color: #9f9f9f;
  padding-right: 1em;
}

pre {
  margin: 0px;
}

label.semail{
  display: none;
}

input.semail{
  display: none;
}

#settingsform {
  position: fixed; right: 50%;
  text-align:center;
}

#settingsdiv input[type=text] {
  width: 100%;
}

#settingsdiv {
  position: relative;
  right: -50%;
  top: 110px;
  background-image: url("/static/trans.png");
  background-image: url("/static/diagonal-stripes.png");
  width: 260px;
  padding: 20px;
  text-align: left;
  background-color: #002B36;
  background-color: #1c4e63;
  background-color: #194457;
}

.tiny-text {
  font-size: .8em;
}

nav {
  position: fixed; 
  top: 15px; 
  right: 25px;
  background-image: url("/static/trans.png");
  background-image: url("/static/diagonal-stripes.png");
  background-color: #194457;
  padding: 20px;
}

nav ul {
  list-style: none;
  padding-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

a { 
  color: white;
  color: #6DCFF6;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}
